body {
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0;
}

.navigation-bar {
  height: 5vh;
  width: 99.5vw;
  border: red 5px solid;
  position: fixed;
  top: 0;
}

.content-tile {
  border: 5px dashed pink;
  background-color: lightyellow;
  height: 70vh;
}

.content-tile.first {
  margin-top: 6vh;
  background-color: green;
}
